<%
var pageId = page.path;
var pageUrl = page.permalink;
var pageTitle = page.title;
%>
<div id="cyReward" role="cylabs" data-use="reward" style="text-align:center;margin-top:20px;"></div>
<% if (page.comments){ %>
    <section id="comment">
       <div id="gitment-container" sid="<%=pageTitle %>" style="padding: 0px 30px 0px 46px;"></div>
       <img src="http://img.imtianx.cn/wechat_spread.png"/>
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css" />
  	<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
  	<script>
	var gitment = new Gitment({
	  id: md5(window.location.pathname),
	  owner: 'imtianx',
	  repo: 'imtianx.github.io',
	  oauth: {
	    client_id: '3c3e3f87d9ed9e3595d6',
	    client_secret: '6d2355cc31f9618ceb213eb11a95be18c814d0e8',
	    },
	})
	gitment.render('gitment-container')
	</script>
    </section>
<% } %>
