<%
var pageId = page.path;
var pageUrl = page.permalink;
var pageTitle = page.title;
%>
<div id="cyReward" role="cylabs" data-use="reward"></div>
<% if (page.comments){ %>
    <section id="comment">
       <div id="SOHUCS" sid="<%=pageTitle %>" style="padding: 0px 30px 0px 46px;"></div>
        <script>
            (function(){
				var appid = 'cyt6teOD2',
				conf = 'ad896cbb1c0c645238b31cb3c77388ea';
				var doc = document,
				s = doc.createElement('script'),
				h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
				s.type = 'text/javascript';
				s.charset = 'utf-8';
				s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
				h.insertBefore(s,h.firstChild);
				window.SCS_NO_IFRAME = true;
			  })()
	   </script>
     </section>
<% } %>
